*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    height: 10vh;
    width: 100vw;
    background: #00BECD;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    
}

.spazio{
    height: 20vh;
    width: 100vw;
    border-bottom: 2px solid #00BECD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box, a{
    font-size: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a{
    color: black;
    text-decoration: none;
}
