* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    height: 7vh;
    width: 100vw;
    background: #00BECD;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 3.5vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back {
    color: white;
    font-size: 40px;
    text-decoration: none;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spazio {
    width: 20%;
}

.sottonav {
    background: #a100ad;
    color: white;
    height: 3vh;
    width: 100vw;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 8.5vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.biglietti {
    background: transparent;
    position: absolute;
    top:10vh;
    left: 50%;
    height: 10vh;
    width: 100vw;
    transform: translateX(-50%);
}

.biglietto-nuovo {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid grey;
}

.foto {
    width: 15%;
    height: 100%;
}

.testo {
    margin-left: 5%;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    line-height: 10px;
}

.biglietto-usato {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid grey;
}

.usato-cestino {
    width: 15%;
    height: 100%;
    background: rgb(147, 0, 0);
}

.aggiungi {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    font-size: 15px;
    border-radius: 70px;
    border: solid 3px #00BECD;
    font-weight: bold;
    color: #00BECD;
    background: white;
}

a {
    color: black;
    text-decoration: none;
}

.video {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 53%;
    z-index: 1;
    background: url(./img/foto.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%);
    display: none;
}

video {
    width: 100vw;
    height: 100vh;
}

.attivazione{
    position: absolute;
    top: 73%;
    left: 2%;
    font-size: 25px;
    color: black;
    z-index: 3;
}

.emissione{
    position: absolute;
    top: 87%;
    left: 2%;
    font-size: 18px;
    color: black;
}